# Python virtual environment
.venv
venv

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Compiled Python files
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment files
.env
.env.*
!.env.example

# Data files (mounted as volume, don't copy)
data/

# IDE / Editor files
.idea/
.vscode/

# Git files
.git/
.gitignore 