ipywidgets
ipykernel
jupyter

fastapi
uvicorn[standard]
python-dotenv

langchain
langchain-community 
faiss-cpu 
langchain_openai
langchain_anthropic
langchain_deepseek

pypdf
python-docx
docx2txt
libmagic
unstructured[local-inference]
unstructured

Pillow
pytesseract

openai-whisper

sentence-transformers

# FastAPI file uploads
python-multipart